@using OnlineMarket.Application.Categories.GetAllCategories
<div class="p-4">
    <a class="btn btn-outline-dark text-center align-content-center w-100" style="height:50px" href="/browse/category/@Category.Id">
        @Category.Name
    </a>
</div>

@code {
    [Parameter]
    public CategoryResponse Category { get; set; }
}
